// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
    background-image: url("ti83.png");
    width: 793px;;
    height: 1772px;
    margin: 0 auto;
    position: relative;
}

canvas {
    position: absolute;
    top: 198px;
    left: 150px;
}
